Repository mineadmin/components, pull requests merged in 2024-05, with the labels that each got.

#75 Optimal appStoreService
  src/Crontab/src/Command/CrontabMigrateCommand.php
  src/app-store/src/Command/DownloadCommand.php
  src/app-store/src/Command/ListCommand.php
  src/app-store/src/Service/AppStoreService.php
  src/app-store/src/Service/Impl/AppStoreServiceImpl.php
  src/mine-generator/src/ModelGenerator.php
Labels: size:M, MineGenerator, Crontab

#81 Optimal download plugin
  src/AppStore/src/Command/InitialCommand.php
  src/AppStore/src/Service/Impl/AppStoreServiceImpl.php
Labels: size:M

#77 feat(MineExcel): 新增按照属性在代码中的顺序排序方案
  src/office/src/Excel/PhpOffice.php
  src/office/src/Excel/XlsWriter.php
  src/office/src/MineExcel.php
Labels: enhancement, size:L, Office

#85 Fixed copy frontend files
  .github/workflows/test.yml
  phpunit.xml
  phpunit.xml.dist
  src/AppStore/src/Plugin.php
  src/Support/tests/ConstantUtilsTest.php
Labels: bug, size:L, UnitTest, Support

#87 Update actions
  .github/workflows/crontab-cs-fixer.yml
  .github/workflows/pull-request-cs-fixer.yml
  .github/workflows/test.yml
  src/AppStore/src/Command/ScriptCommand.php
  src/AppStore/src/ConfigProvider.php
  src/mine-core/src/Command/InstallProjectCommand.php
Labels: enhancement, size:M, MineCore

#86 移除读取详情接口模版代码未定义变量
  src/mine-generator/Stubs/Api/read.stub
Labels: bug, size:XS, lgtm, MineGenerator

#88 Release 2.0-stable
  src/Crontab/tests/Cases/Listener/CrontabProcessStarredListenerTest.php
  src/Crontab/tests/Cases/ScheduleTest.php
  src/SecurityBundle/tests/AbstractUserProviderTest.php
  src/SecurityHttp/tests/Cases/UserProviderTest.php
  src/mine-generator/Stubs/Api/read.stub
  src/next-core-x/tests/Feature/Channel/RedisChannelTest.php
Labels: size:S, SecurityHttp, UnitTest, MineGenerator, Crontab, SecurityBundle, NextCoreX
