Repository mineadmin/components, pull requests merged in 2024-04, with the labels that each got.

#67 插件创建命令生成mine.json增加可视打印
  src/app-store/src/Command/CreateCommand.php
Labels: enhancement, size:XS, lgtm

#68 Optimisation plugin autogeneration
  src/app-store/src/Command/CreateCommand.php
Labels: enhancement, size:M, lgtm

#69 更改插件web目录生成位置，生成迁移文件目录
  src/app-store/src/Command/CreateCommand.php
Labels: enhancement, size:XS, lgtm

#70 Automatically add pr labels
  .github/boring-cyborg.yml
Labels: size:M

#72 Added support component
  .github/workflows/code-coverage.yml
  .travis/run.code-coverage.sh
  composer.json
  phpunit.xml
  src/Support/composer.json
  src/Support/src/ConstantUtils.php
  src/Support/src/Ip2region.php
  src/Support/src/functions.php
  src/Support/tests/ConstantUtilsTest.php
  src/Support/tests/Ip2regionTest.php
Labels: enhancement, size:XL, UnitTest, Support, Composer

#71 Optimal SecurityHttp component
  CHANGELOG-2.0.md
  CHANGELOG-2.0.zh_CN.md
  src/SecurityHttp/publish/security.php
  src/SecurityHttp/src/Aspect/CurrentUserAspect.php
  src/SecurityHttp/src/Attribute/CurrentUser.php
  src/SecurityHttp/src/Command/GenJwtSecretCommand.php
  src/SecurityHttp/src/CurrentUserProxy.php
  src/SecurityHttp/src/RegisterCurrentUserPropertyHandler.php
  src/SecurityHttp/tests/Cases/Command/GenJwtSecretCommandTest.php
Labels: enhancement, size:L, SecurityHttp, UnitTest, ChangeLog

#73 Fix code generator to get model primary key
  CHANGELOG-2.0.md
  CHANGELOG-2.0.zh_CN.md
  src/mine-generator/src/ControllerGenerator.php
Labels: bug, size:S, ChangeLog, MineGenerator

#74 Reset 'Fix code generator to get model primary key'
  CHANGELOG-2.0.md
  CHANGELOG-2.0.zh_CN.md
  src/mine-generator/src/ControllerGenerator.php
Labels: bug, size:S, ChangeLog, MineGenerator
